[submodule "cctools"]
	path = cctools
	url = https://github.com/apple-oss-distributions/cctools
[submodule "gcc"]
	path = gcc
	url = https://github.com/apple-oss-distributions/gcc
[submodule "gcc3"]
	path = gcc3
	url = https://github.com/apple-oss-distributions/gcc3
[submodule "gcc_legacy"]
	path = gcc_legacy
	url = https://github.com/apple-oss-distributions/gcc_legacy
