[submodule "CoreOSMakefiles"]
	path = CoreOSMakefiles
	url = https://github.com/apple-oss-distributions/CoreOSMakefiles
[submodule "bison"]
	path = bison
	url = https://github.com/apple-oss-distributions/bison
[submodule "bootstrap_cmds"]
	path = bootstrap_cmds
	url = https://github.com/apple-oss-distributions/bootstrap_cmds
[submodule "cctools"]
	path = cctools
	url = https://github.com/apple-oss-distributions/cctools
[submodule "clang"]
	path = clang
	url = https://github.com/apple-oss-distributions/clang
[submodule "cvs"]
	path = cvs
	url = https://github.com/apple-oss-distributions/cvs
[submodule "cvs_wrapped"]
	path = cvs_wrapped
	url = https://github.com/apple-oss-distributions/cvs_wrapped
[submodule "developer_cmds"]
	path = developer_cmds
	url = https://github.com/apple-oss-distributions/developer_cmds
[submodule "gcc_select"]
	path = gcc_select
	url = https://github.com/apple-oss-distributions/gcc_select
[submodule "gdb"]
	path = gdb
	url = https://github.com/apple-oss-distributions/gdb
[submodule "gm4"]
	path = gm4
	url = https://github.com/apple-oss-distributions/gm4
[submodule "gnumake"]
	path = gnumake
	url = https://github.com/apple-oss-distributions/gnumake
[submodule "gperf"]
	path = gperf
	url = https://github.com/apple-oss-distributions/gperf
[submodule "ld64"]
	path = ld64
	url = https://github.com/apple-oss-distributions/ld64
[submodule "llvmgcc42"]
	path = llvmgcc42
	url = https://github.com/apple-oss-distributions/llvmgcc42
[submodule "pb_makefiles"]
	path = pb_makefiles
	url = https://github.com/apple-oss-distributions/pb_makefiles
[submodule "rcs"]
	path = rcs
	url = https://github.com/apple-oss-distributions/rcs
[submodule "Git"]
	path = Git
	url = https://github.com/apple-oss-distributions/Git
[submodule "bison1"]
	path = bison1
	url = https://github.com/apple-oss-distributions/bison1
[submodule "lldb"]
	path = lldb
	url = https://github.com/apple-oss-distributions/lldb
[submodule "subversion"]
	path = subversion
	url = https://github.com/apple-oss-distributions/subversion
[submodule "headerdoc"]
	path = headerdoc
	url = https://github.com/apple-oss-distributions/headerdoc
