[submodule "cctools"]
	path = cctools
	url = https://github.com/apple-oss-distributions/cctools
[submodule "gcc"]
	path = gcc
	url = https://github.com/apple-oss-distributions/gcc
[submodule "gdb"]
	path = gdb
	url = https://github.com/apple-oss-distributions/gdb
[submodule "distcc"]
	path = distcc
	url = https://github.com/apple-oss-distributions/distcc
[submodule "gcc_select"]
	path = gcc_select
	url = https://github.com/apple-oss-distributions/gcc_select
